#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  margin: 1em;
  font-size: 1.2em;
  display: block;
}

#container a {
  text-decoration: none;
}

/*# sourceMappingURL=explore-container.component.css.map */
