<ion-tabs>
  <ion-tab-bar slot="bottom" class="bg-green">
    <ion-tab-button tab="tab1" href="/tabs/tab1" class="bg-green">
      <ion-label class="white-color">Adopta un Gato</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" class="bg-green">
      <ion-label class="white-color">Adopta un perro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" class="bg-green">
      <ion-label class="white-color">Contribuye</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
