<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-app">
      Adopta un Perro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adopta un Perro</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container
    descripcion="¿Quieres darle un hogar a un amigo fiel?"
    name="Adopta un Perro"
    img="https://images.pexels.com/photos/2295744/pexels-photo-2295744.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></app-explore-container>
</ion-content>
