<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-app">
   Adopta un Gato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adopta un Gato</ion-title>
    </ion-toolbar>

  </ion-header>

  <app-explore-container
    descripcion="¡Déjame ser tu nuevo compañero peludo!"
    name="Adopta un Gato" img="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">  </app-explore-container>
</ion-content>
