<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo-app">
      Contribuye
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contribuye </ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container
    descripcion="¡Dale amor a un compañero peludo y sé su héroe adoptándolo!"
    name="Contribuye" img="https://images.pexels.com/photos/1851164/pexels-photo-1851164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"></app-explore-container>
</ion-content>
